# =========================
# .NET / Visual Studio
# =========================
**/bin/
**/obj/
.vs/
*.user
*.suo
*.cache
*.log

# =========================
# Build outputs
# =========================
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
